apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kustom-dev
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/trinidevops/next-elysia-k8s-local.git
    targetRevision: HEAD
    path: overlays/dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true